<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
	<property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{1}] [%M:%line] -%msg %n" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${LOG_PATTERN}</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework" level="INFO" additivity="false" >
		<appender-ref ref="CONSOLE" />
	</logger>

    <logger name="com.wisepms.api" level="DEBUG" additivity="false" >
    	<appender-ref ref="CONSOLE" />
	</logger>

    <logger name="jdbc" level="OFF"/>
	<logger name="jdbc.sqlonly" level="INFO" />
  	<logger name="jdbc.resultsettable" level="INFO" />
  	<logger name="jdbc.audit" level="OFF"/>
  	<logger name="jdbc.resultset" level="OFF"/>
  	<logger name="jdbc.connection" level="OFF"/>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>